<div>
  <app-nav></app-nav>
  <div class="container" style="text-align: center; margin-top: 2em;">
    <div>
      <h2>Lista de Clientes</h2>
    </div>
    <div style="margin-top: 2em;">
      <form [formGroup]="buscar" >
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <input (blur)="buscarPorNombre()" formControlName="nombre" type="text" class="form-control" id="exampleInputPassword1" placeholder="Buscar por Nombre">
            </div>
            <div class="col-4">
              <button type="button" (blur)="buscarPorNombre()" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <table class="table" style="margin-top: 2em;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cedula</th>
          <th scope="col">Telefono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clientes" >
          <th>{{ item.id }}</th>
          <td>{{ item.Nombre }}</td>
          <td>{{ item.Cedula}}</td>
          <td>{{ item.Telefono }}</td>
          <td><button type="button" class="btn btn-warning" (click)="editarCliente(item.id)" >Editar</button><button type="button"
              class="btn btn-danger"  style="margin-left: 0.5em;" (click)="eliminarCliente(item.id)" >Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
