<ul class="nav justify-content-center" style="background-color: #F2F2F2; padding: 1.5% 0 1.5%;">
  <li class="nav-item">
    <a class="nav-link" href="dashboard" id="navItem" style="color: Black; text-decoration: none;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="crear-cliente" id="navItem" style="color: black; text-decoration: none;">Crear Cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="lista-cliente" id="navItem" style="color: black; text-decoration: none;">Buscar Cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="crear-producto" id="navItem" style="color: black; text-decoration: none;">Crear Producto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="lista-producto" id="navItem" style="color: black; text-decoration: none;">Buscar Producto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id="navItem" style="color: black; text-decoration: none;">Cerrar Sesión</a>
  </li>
</ul>
